@import "tailwindcss";
@import "@repo/tailwind-config";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@import 'keen-slider/keen-slider.min.css';



:root {
    --rsbs-max-w: 450px;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.user-marker-icon-container {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(49, 130, 247, 0.3);
}
.user-marker-icon {
    margin: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    background-color: var(--color-blue);
}